/************************************************
*	Media Queries								*
************************************************/

/* iPad Styles */

@media handheld, only screen and (max-width: 1024px) {
	
	/* Typography iPad */
	
	body {  
		font-size: 0.9rem; 
		line-height: 1.9; 
		}
	blockquote {
		font-size: 1.4rem;
		}
	.headline.img-headline {
		font-size: 3rem;
		letter-spacing: -1px;
		}
	}
		
@media handheld, only screen and (max-width: 1024px) {
	
	/* Theme iPad */
	
	#header.home-header {
		min-height: 480px;
		background-attachment: scroll;
		background-position: center !important;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}
	#header #masthead {
		padding: 48px 0px;
		}
	#header .site-title {
		font-size: 3rem;
		}
	#header .site-description {
		font-size: 1.6rem;
		}
	#header #logo {
		margin-top: 12px;
		}
	.flexslider .slides > li, .loading {
		min-height: 0;
		}
	.flex-direction-nav li .flex-next {
		right: 40px;
		}
	.flex-direction-nav li .flex-prev {
		left: 40px;
		}
	.postarea {
		padding: 24px 0px;
		}
	.postarea.blog,
	.postarea.archive,
	.sidebar {
		margin: 24px 0px;
		}
	.container.portfolio .half {
		max-width: 350px;
		}
	.container.portfolio .third {
		max-width: 230px;
		}
	.feature-img.page {
		margin-top: 24px;
		}
	
	}
	
/* iPhone Styles */
	
@media handheld, only screen and (max-width: 767px) {

	/* Typography iPhone */

	h1 { 
		font-size: 2.0rem; 
		line-height: 1.4; 
		}
	h2 { 
		font-size: 1.6rem; 
		line-height: 1.4; 
		}
	h3 {  
		font-size: 1.4rem; 
		line-height: 1.4; 
		}
	h4 {  
		font-size: 1.2rem; 
		line-height: 1.4; 
		}
	h5 { 
		font-size: 1.1rem; 
		line-height: 1.4; 
		}
	h6 { 
		font-size: 1.0rem; 
		line-height: 1.4; 
		}
	.headline {
		font-size: 2rem;
		line-height: 1.2;
		}
	.headline.small {
		font-size: 1.4rem;
		line-height: 1.2;
		}
	.headline.img-headline {
		font-size: 2rem;
		}
	body, p {  
		font-size: 0.8rem; 
		line-height: 1.8; 
		}
	blockquote {
		margin: 8px 0px;
		padding: 12px 0px;
		}
	blockquote p {
		font-size: 1.1rem;
		line-height: 1.4;
		}
	}
	
@media only screen and (max-width: 767px) {		

	/* Theme iPhone */
	
	#header,
	#header.home-header {
		height: auto;
		min-height: 0;
		padding-left: 24px;
		padding-right: 24px;
		overflow: hidden;
		background-attachment: scroll;
		background-position: top center !important;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}
	#header.home-header {
		min-height: 0;
		padding-bottom: 180px;
		}
	#header.home-header.empty-header {
		min-height: 0px;
		}
	#header.home-header #header-info {
		top: auto;
		left: auto;
		bottom: auto;
		margin-top: 0px;
		position: relative;
		-webkit-transform: translateX(0) translateY(0);
		-ms-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
		}
	#header #masthead {
		padding: 36px 0px;
		}
	#header .site-title {
		font-size: 2.3rem;
		letter-spacing: -1px;
		}
	#header .site-description {
		font-size: 1.2rem;
		letter-spacing: -0.4px;
		}
	#header #logo {
		margin-top: 24px;
		}
	#custom-header {
		display: none;
		}
	#navigation, 
	#navigation.home-nav {
		background: #FFFFFF;
		position: relative;
		top: auto;
		margin: 0px;
		padding: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-khtml-border-radius: 0px;
		-webkit-border-radius: 0px;
		}
	#navigation.desktop-nav {
		display: none;
		}
	#navigation.mobile-nav {
		display: block;
		}
	.mobile-menu {
		margin: 0px;
		padding: 0px;
		}
	.menu-toggle,
	.main-small-navigation ul.mobile-menu.toggled-on {
		display: block;
		}
	.navigation-main ul.menu {
		display: none;
		}
	.menu {
		display: block;
		}
	.menu-toggle {
		color: #999999;
		color: rgba(0, 0, 0, 0.3);
		font-size: 24px;
		text-align: left;
		line-height: 1.2;
		margin: 0;
		padding: 12px 18px;
		}
	.menu-toggle:hover {
		color: #333333;
		color: rgba(0, 0, 0, 0.6)
		}
	.mobile-menu ul.sub-menu {
		display: block !important;
		visibility: visible !important;
		left: auto;
		margin: 0;
		padding: 0;
		}
	.mobile-menu ul,
	.mobile-menu li {
		list-style: none;
		margin: 0;
		padding: 0;
		}
	.mobile-menu li {
		display: block;
		text-align: center;
		line-height: 30px;
		}
	.mobile-menu li li a:before {
		content: '- ';
		}
	.mobile-menu li li li a:before {
		content: '-- ';
		}
	.mobile-menu li li li li a:before {
		content: '--- ';
		}
	.mobile-menu a {
		display: block;
		color: #999999 !important;
		font-size: 1.2em;
		text-decoration: none;
		padding: 6px 0px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
	.mobile-menu a:hover {
		background: rgba(0, 0, 0, 0.08);
		color: #333333 !important;
		text-decoration: none;
		}
	.container {
		padding: 0px 12px;
		}
	.container.home,
	.container.blog-full {
		padding: 0px;
		}
	.container.portfolio {
		padding-top: 12px;
		padding-bottom: 0px;
		}
	#homepage {
		padding: 24px;
		}
	#slideshow {
		padding: 24px 24px 0px 24px;
		}
	.flex-direction-nav li .flex-next {
		right: 0px;
		}
	.flex-direction-nav li .flex-prev {
		left: 0px;
		}
	.flex-control-nav {
		display: none;
		bottom: 0px;
		}
	.container.portfolio .holder-half,
	.container.portfolio .holder-third {
		height: auto !important;
		}
	.container.portfolio .half,
	.container.portfolio .third {
		width: 100%;
		}
	.container.portfolio .half,
	.container.portfolio .third,
	.container.shop .half,
	.container.shop .third {
		max-width: 100%;
		position: relative !important;
		top: auto !important;
		left: auto !important;
		}
	.feature-img.page,
	.feature-img.post,
	.feature-vid.post {
		padding: 12px;
		}
	.feature-img.post,
	.feature-vid.post {
		margin-top: 12px;
		margin-bottom: 12px;
		}
	.feature-img.page {
		margin-top: 12px;
		margin-bottom: 0px;
		}
	.postarea.blog,
	.postarea.archive {
		margin: 12px 0px;
		}
	.postarea.portfolio,
	.postarea.shop {
		margin-bottom: 12px;
		padding: 12px !important;
		}
	.postarea,
	.postarea.full,
	.postarea.slideshow {
		padding: 24px 12px;
		}
	.postarea.blog .blog-holder,
	.postarea.archive {
		padding: 24px;
		}
	.postmeta p.meta-text {
		width: 100%;
		margin: 4px 0px 12px 0px;
		}
	.social {
		margin-top: 12px;
		}
	.tweet-btn, .like-btn, .pin-btn, .plus-btn {
		float: left;
		margin: 4px;
		}
	.twitter-feed { 
		padding: 8px 18px;
		}
	.archive-column {
		width: 100%;
		padding-right: 0;
		}
	.sidebar {
		margin: 12px 0px;
		}
	#comments {
		padding: 6px 18px;
		}
	#author, #email, #url {
		width: 92%;
		}
	#commentform textarea {
		width: 92% !important;
		}
	.container form textarea {
		width: 92% !important;
		}
	#footer {
		padding: 12px;
		}
		
	/* Grid */
	
	body { 
		-webkit-text-size-adjust: none; 
		-ms-text-size-adjust: none; 
		width: 100%; 
		min-width: 0; 
		margin-left: 0; 
		margin-right: 0; 
		padding-left: 0; 
		padding-right: 0; 
		}
	.container { 
		min-width: 0;
		margin-left: 0; 
		margin-right: 0; 
		}
	.row { 
		width: 100%; 
		min-width: 0; 
		margin-left: 0; 
		margin-right: 0;
		overflow: visible !important;
		}
	.row .row .column, 
	.row .row .columns { 
		padding: 0; 
		}
	.row .single, 
	.row .half, 
	.row .third, 
	.row .fourth { 
		width: 100%; 
		}
	.column, .columns { 
		width: auto !important; 
		float: none; 
		margin-left: 0; 
		margin-right: 0; 
		}
	.column:last-child, .columns:last-child { 
		margin-right: 0; 
		float: none; 
		}
	[class*="column"] + [class*="column"]:last-child { 
		float: none; 
		}
	[class*="column"]:before, [class*="column"]:after { 
		content:""; 
		display:table; 
		}
	[class*="column"]:after { 
		clear: both; 
		}
	}